{{#each this}}
<li class="container-items">
    <img src="{{images.0.url}}" alt="" class="container-image">
    <h2 class="text-color text-title">{{name}}</h2>
    {{#dates}}
    {{#start}}
    <p class="text-color text">{{localDate}}</p>
    {{/start}}
    {{/dates}}
    <a href="{{_embedded.venues.0.url}}" class="text-color-item text-link link"
            target="_blank">
            <img src="" alt="" width="7" height="10" class="img-vector">
            {{_embedded.venues.0.name}}
        </a>
</li>
{{/each}}

